[submodule "week3/phonebook"]
	path = week3/phonebook
	url = https://github.com/Avocadososemix/phonebook
[submodule "week4/bloglist"]
	path = week4/bloglist
	url = https://github.com/Avocadososemix/bloglist
